@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
*::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #1E2640;
  --color-background: #353C53 ;
  --color-background-dark: #F2F2F2;
  --color-background-light: #E6E6E6 ;
  --color-background-white: #FAFAFA;
  --color-text: #4D4D4D ;
  --color-text-dark: #1A181E ;
  --color-secondary: #146EB4 ;
  --color-seconary-dark: #0E4F82 ;
  --color-border: #D9D9D9 
}


